# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT

# Locally saved file data
/CS2113T_iP_Sora_Resources/*
text-ui-test/CS2113T_iP_Sora_Resources/*

# Java class files
*.class