# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml

# Text Ui Testing
/text-ui-test/ACTUAL.txt
/text-ui-test/runtest.sh
/text-ui-test/EXPECTED-UNIX.txt
/duke.txt

# Bin files
/bin/